In [1]:
import numpy as np
import pandas as pd

In [2]:
from sklearn.model_selection import train_test_split
from sklearn.metrics import classification_report
from sklearn.tree import DecisionTreeClassifier

In [3]:
import xgboost as xgb

In [4]:
df = pd.read_csv('train.csv')

In [5]:
print(df.head)

<bound method NDFrame.head of      PassengerId  Survived  Pclass  \
0              1         0       3
1              2         1       1
2              3         1       3
3              4         1       1
4              5         0       3
..           ...       ...     ...
886          887         0       2
887          888         1       1
888          889         0       3
889          890         1       1
890          891         0       3

                                                  Name     Sex   Age  SibSp  \
0                              Braund, Mr. Owen Harris    male  22.0      1
1    Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                               Heikkinen, Miss. Laina  female  26.0      0
3         Futrelle, Mrs. Jacques Heath (Lily May Peel)  female  35.0      1
4                             Allen, Mr. William Henry    male  35.0      0
..                                                 ...     ...   ...    ...
886                              Montvila, Rev. Juozas    male  27.0      0
887                       Graham, Miss. Margaret Edith  female  19.0      0
888           Johnston, Miss. Catherine Helen "Carrie"  female   NaN      1
889                              Behr, Mr. Karl Howell    male  26.0      0
890                                Dooley, Mr. Patrick    male  32.0      0

     Parch            Ticket     Fare Cabin Embarked
0        0         A/5 21171   7.2500   NaN        S
1        0          PC 17599  71.2833   C85        C
2        0  STON/O2. 3101282   7.9250   NaN        S
3        0            113803  53.1000  C123        S
4        0            373450   8.0500   NaN        S
..     ...               ...      ...   ...      ...
886      0            211536  13.0000   NaN        S
887      0            112053  30.0000   B42        S
888      2        W./C. 6607  23.4500   NaN        S
889      0            111369  30.0000  C148        C
890      0            370376   7.7500   NaN        Q

[891 rows x 12 columns]>

In [6]:
df_encoded = pd.get_dummies(df, columns=['Pclass','Sex', 'SibSp', 'Parch', 'Embarked'], drop_first=False)

In [7]:
print(df_encoded.head)

<bound method NDFrame.head of      PassengerId  Survived                                               Name  \
0              1         0                            Braund, Mr. Owen Harris
1              2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3         1                             Heikkinen, Miss. Laina
3              4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5         0                           Allen, Mr. William Henry
..           ...       ...                                                ...
886          887         0                              Montvila, Rev. Juozas
887          888         1                       Graham, Miss. Margaret Edith
888          889         0           Johnston, Miss. Catherine Helen "Carrie"
889          890         1                              Behr, Mr. Karl Howell
890          891         0                                Dooley, Mr. Patrick

      Age            Ticket     Fare Cabin  Pclass_1  Pclass_2  Pclass_3  ...  \
0    22.0         A/5 21171   7.2500   NaN     False     False      True  ...
1    38.0          PC 17599  71.2833   C85      True     False     False  ...
2    26.0  STON/O2. 3101282   7.9250   NaN     False     False      True  ...
3    35.0            113803  53.1000  C123      True     False     False  ...
4    35.0            373450   8.0500   NaN     False     False      True  ...
..    ...               ...      ...   ...       ...       ...       ...  ...
886  27.0            211536  13.0000   NaN     False      True     False  ...
887  19.0            112053  30.0000   B42      True     False     False  ...
888   NaN        W./C. 6607  23.4500   NaN     False     False      True  ...
889  26.0            111369  30.0000  C148      True     False     False  ...
890  32.0            370376   7.7500   NaN     False     False      True  ...

     Parch_0  Parch_1  Parch_2  Parch_3  Parch_4  Parch_5  Parch_6  \
0       True    False    False    False    False    False    False
1       True    False    False    False    False    False    False
2       True    False    False    False    False    False    False
3       True    False    False    False    False    False    False
4       True    False    False    False    False    False    False
..       ...      ...      ...      ...      ...      ...      ...
886     True    False    False    False    False    False    False
887     True    False    False    False    False    False    False
888    False    False     True    False    False    False    False
889     True    False    False    False    False    False    False
890     True    False    False    False    False    False    False

     Embarked_C  Embarked_Q  Embarked_S
0         False       False        True
1          True       False       False
2         False       False        True
3         False       False        True
4         False       False        True
..          ...         ...         ...
886       False       False        True
887       False       False        True
888       False       False        True
889        True       False       False
890       False        True       False

[891 rows x 29 columns]>

In [8]:
X = df_encoded[['Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4','SibSp_5','SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]

In [9]:
y = df_encoded['Survived']

In [10]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [11]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [12]:
params = {
    'objective' : 'binary:logistic',
    'max_depth' : 4,
    'eta' : 0.1,
    'eval_metric' : 'logloss'
}

In [13]:
num_boost_round = 100
bst = xgb.train(params, dtrain, num_boost_round)

In [14]:
y_pred_prob = bst.predict(dtest)
y_pred = [1 if prob>0.5 else 0 for prob in y_pred_prob]

In [15]:
print(classification_report(y_test, y_pred))

              precision    recall  f1-score   support

           0       0.81      0.84      0.83       105
           1       0.76      0.73      0.74        74

    accuracy                           0.79       179
   macro avg       0.79      0.78      0.79       179
weighted avg       0.79      0.79      0.79       179

In [16]:
#applying the xgboost model on train.csv file from Kaggle

In [17]:
df_test = pd.read_csv('test.csv')

In [18]:
df_test['Survived'] = 0

In [19]:
print(df_test.head)

<bound method NDFrame.head of      PassengerId  Pclass                                          Name  \
0            892       3                              Kelly, Mr. James
1            893       3              Wilkes, Mrs. James (Ellen Needs)
2            894       2                     Myles, Mr. Thomas Francis
3            895       3                              Wirz, Mr. Albert
4            896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)
..           ...     ...                                           ...
413         1305       3                            Spector, Mr. Woolf
414         1306       1                  Oliva y Ocana, Dona. Fermina
415         1307       3                  Saether, Mr. Simon Sivertsen
416         1308       3                           Ware, Mr. Frederick
417         1309       3                      Peter, Master. Michael J

        Sex   Age  SibSp  Parch              Ticket      Fare Cabin Embarked  \
0      male  34.5      0      0              330911    7.8292   NaN        Q
1    female  47.0      1      0              363272    7.0000   NaN        S
2      male  62.0      0      0              240276    9.6875   NaN        Q
3      male  27.0      0      0              315154    8.6625   NaN        S
4    female  22.0      1      1             3101298   12.2875   NaN        S
..      ...   ...    ...    ...                 ...       ...   ...      ...
413    male   NaN      0      0           A.5. 3236    8.0500   NaN        S
414  female  39.0      0      0            PC 17758  108.9000  C105        C
415    male  38.5      0      0  SOTON/O.Q. 3101262    7.2500   NaN        S
416    male   NaN      0      0              359309    8.0500   NaN        S
417    male   NaN      1      1                2668   22.3583   NaN        C

     Survived
0           0
1           0
2           0
3           0
4           0
..        ...
413         0
414         0
415         0
416         0
417         0

[418 rows x 12 columns]>

In [20]:
#encoding the test dataset

In [21]:
df_test_encoded = pd.get_dummies(df_test, columns=['Pclass','Sex', 'SibSp', 'Parch', 'Embarked'], drop_first=False)

In [22]:
print(df_test_encoded.head)

<bound method NDFrame.head of      PassengerId                                          Name   Age  \
0            892                              Kelly, Mr. James  34.5
1            893              Wilkes, Mrs. James (Ellen Needs)  47.0
2            894                     Myles, Mr. Thomas Francis  62.0
3            895                              Wirz, Mr. Albert  27.0
4            896  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  22.0
..           ...                                           ...   ...
413         1305                            Spector, Mr. Woolf   NaN
414         1306                  Oliva y Ocana, Dona. Fermina  39.0
415         1307                  Saether, Mr. Simon Sivertsen  38.5
416         1308                           Ware, Mr. Frederick   NaN
417         1309                      Peter, Master. Michael J   NaN

                 Ticket      Fare Cabin  Survived  Pclass_1  Pclass_2  \
0                330911    7.8292   NaN         0     False     False
1                363272    7.0000   NaN         0     False     False
2                240276    9.6875   NaN         0     False      True
3                315154    8.6625   NaN         0     False     False
4               3101298   12.2875   NaN         0     False     False
..                  ...       ...   ...       ...       ...       ...
413           A.5. 3236    8.0500   NaN         0     False     False
414            PC 17758  108.9000  C105         0      True     False
415  SOTON/O.Q. 3101262    7.2500   NaN         0     False     False
416              359309    8.0500   NaN         0     False     False
417                2668   22.3583   NaN         0     False     False

     Pclass_3  ...  Parch_1  Parch_2  Parch_3  Parch_4  Parch_5  Parch_6  \
0        True  ...    False    False    False    False    False    False
1        True  ...    False    False    False    False    False    False
2       False  ...    False    False    False    False    False    False
3        True  ...    False    False    False    False    False    False
4        True  ...     True    False    False    False    False    False
..        ...  ...      ...      ...      ...      ...      ...      ...
413      True  ...    False    False    False    False    False    False
414     False  ...    False    False    False    False    False    False
415      True  ...    False    False    False    False    False    False
416      True  ...    False    False    False    False    False    False
417      True  ...     True    False    False    False    False    False

     Parch_9  Embarked_C  Embarked_Q  Embarked_S
0      False       False        True       False
1      False       False       False        True
2      False       False        True       False
3      False       False       False        True
4      False       False       False        True
..       ...         ...         ...         ...
413    False       False       False        True
414    False        True       False       False
415    False       False       False        True
416    False       False       False        True
417    False        True       False       False

[418 rows x 30 columns]>

In [23]:
#due to the presence of Parch_9 variable, I need to retrain the model 'bst' with this variable

In [24]:
df_encoded['Parch_9']=0

In [25]:
print(df_encoded.head)

<bound method NDFrame.head of      PassengerId  Survived                                               Name  \
0              1         0                            Braund, Mr. Owen Harris
1              2         1  Cumings, Mrs. John Bradley (Florence Briggs Th...
2              3         1                             Heikkinen, Miss. Laina
3              4         1       Futrelle, Mrs. Jacques Heath (Lily May Peel)
4              5         0                           Allen, Mr. William Henry
..           ...       ...                                                ...
886          887         0                              Montvila, Rev. Juozas
887          888         1                       Graham, Miss. Margaret Edith
888          889         0           Johnston, Miss. Catherine Helen "Carrie"
889          890         1                              Behr, Mr. Karl Howell
890          891         0                                Dooley, Mr. Patrick

      Age            Ticket     Fare Cabin  Pclass_1  Pclass_2  Pclass_3  ...  \
0    22.0         A/5 21171   7.2500   NaN     False     False      True  ...
1    38.0          PC 17599  71.2833   C85      True     False     False  ...
2    26.0  STON/O2. 3101282   7.9250   NaN     False     False      True  ...
3    35.0            113803  53.1000  C123      True     False     False  ...
4    35.0            373450   8.0500   NaN     False     False      True  ...
..    ...               ...      ...   ...       ...       ...       ...  ...
886  27.0            211536  13.0000   NaN     False      True     False  ...
887  19.0            112053  30.0000   B42      True     False     False  ...
888   NaN        W./C. 6607  23.4500   NaN     False     False      True  ...
889  26.0            111369  30.0000  C148      True     False     False  ...
890  32.0            370376   7.7500   NaN     False     False      True  ...

     Parch_1  Parch_2  Parch_3  Parch_4  Parch_5  Parch_6  Embarked_C  \
0      False    False    False    False    False    False       False
1      False    False    False    False    False    False        True
2      False    False    False    False    False    False       False
3      False    False    False    False    False    False       False
4      False    False    False    False    False    False       False
..       ...      ...      ...      ...      ...      ...         ...
886    False    False    False    False    False    False       False
887    False    False    False    False    False    False       False
888    False     True    False    False    False    False       False
889    False    False    False    False    False    False        True
890    False    False    False    False    False    False       False

     Embarked_Q  Embarked_S  Parch_9
0         False        True        0
1         False       False        0
2         False        True        0
3         False        True        0
4         False        True        0
..          ...         ...      ...
886       False        True        0
887       False        True        0
888       False        True        0
889       False       False        0
890        True       False        0

[891 rows x 30 columns]>

In [26]:
X = df_encoded[['Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4','SibSp_5','SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Parch_9', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]

In [27]:
y = df_encoded['Survived']

In [28]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

In [29]:
dtrain = xgb.DMatrix(X_train, label=y_train)
dtest = xgb.DMatrix(X_test, label=y_test)

In [30]:
params = {
    'objective' : 'binary:logistic',
    'max_depth' : 4,
    'eta' : 0.1,
    'eval_metric' : 'logloss'
}

In [31]:
num_boost_round = 100
bst = xgb.train(params, dtrain, num_boost_round)

In [ ]:
#applying this retrained model on the test dataset on kaggle

In [32]:
X = df_test_encoded[['Fare', 'Pclass_1', 'Pclass_2', 'Pclass_3', 'Sex_female', 'Sex_male', 'SibSp_0', 'SibSp_1', 'SibSp_2', 'SibSp_3', 'SibSp_4','SibSp_5','SibSp_8', 'Parch_0', 'Parch_1', 'Parch_2', 'Parch_3', 'Parch_4', 'Parch_5', 'Parch_6', 'Parch_9', 'Embarked_C', 'Embarked_Q', 'Embarked_S']]

In [33]:
X_test = X
y_test = df_test_encoded['Survived']

In [34]:
dtest = xgb.DMatrix(X_test, label=y_test)

In [35]:
y_pred_prob = bst.predict(dtest)
y_pred = [1 if prob>0.5 else 0 for prob in y_pred_prob]

In [36]:
df_col = pd.DataFrame(y_pred)

In [37]:
df_col.to_csv('submission.csv')